.image {
  &-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #898989;

    $margin: 15px;
    $margin2: 5px;
    img {
      margin: $margin2 $margin $margin2 0;
    }

    .fas {
      margin-right: $margin;
      &.fa-id-card {
        color: #989898;
      }
    }

    &-logo {
      width: 100px;
      height: auto;
    }
  }
}
